
<div class="row">
    <div class= "col-md ">
        <div class="panel panel-primary" style="background-color:rgba(250,250,250,0.7)"> 
            <div class="panel-heading">
                <h4 class="text-center">My Heroes</h4>
                <div class="text-right add"><em><a href="" data-toggle="modal" data-target="#myModal">Add more heroes</a></em></div>
            </div>
            <div class="panel-body form-group d-block text-center">
                <table class="table table-hover bordered ">
                    <th class="text-center"> <em> Hero Id  </em> </th>
                    <th class="text-center"> <em> Hero Name </em> </th>
                    <th class="text-center"> <em> Universe </em> </th>
                    <th class="text-center"> <em> Special Power </em> </th>
                    <th class="text-center"> <em> Description </em> </th>
                    <th class="text-center"> <em> Give likes </em> </th>
                <tr class="text-center" *ngFor="let h of heroes">
                    <td >{{h.heroId}}</td>
                    <td><a [routerLink]="['/detail/', h.heroId]">{{h.heroName}}</a></td>
                    <td>{{h.universe}}</td>
                    <td>{{h.specialPower}}</td>
                    <td>{{h.description}}</td>
                    <td>{{h.count}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal"(click)="countLike(h.heroName)">Like!</button>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br/>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <div style="margin-left: 285px "><h4 class="modal-title">Add Your Hero</h4></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <label>Hero Id: </label>
          <input type="number" class="form-control"><br/>

          <label>Hero Name:</label>
          <input type="text" class="form-control"><br/>

          <label>Universe</label>
          <input type="text" class="form-control"><br/>

          <label>Special Power</label>
          <input type="text" class="form-control"><br/>

          <label>Description</label>
          <input type="text" class="form-control"><br/>
        </div>
        <div class="modal-footer" >
          <button type="button" class="btn btn-default" style="margin-right: 330px "data-dismiss="modal">Hit add bruh!</button>

        </div>
      </div>
  
    </div>
  </div>

  

